{% extends 'core/bases/form_base.html' %}
{% load i18n %}
{% load static %}

{% block titulo %}
<h6 class="m-0 font-weight-bold text-gray-800 text-uppercase">
    {% if object %}
        <i class="fas fa-user-edit"></i>
    {% else %}
        <i class="fas fa-user-plus mr-1"></i>
    {% endif %}
    {{ titulo }}
</h6>
{% endblock %}
{% block campos_form %}
    <div class="form-group col-md-6">
        <label for="id_firts_name" class="form-label">{{ form.firts_name.label }}</label>
        {{ form.firts_name }}
    </div>
    <div class="form-group col-md-6">
        <label for="" class="form-label">{{ form.last_name.label }}</label>
        {{ form.last_name }}
    </div>

    <div class="form-group col-md-6">
        <label for="" class="form-label">{{ form.gender.label }}</label>
        {{ form.gender }}
    </div>
    <div class="form-group col-md-6">
        <label for="" class="form-label">{{ form.idNumber.label }}</label>
        {{ form.idNumber }}
    </div>

    <div class="form-group col-md-4">
        <label for="" class="form-label">{{ form.nacimiento.label }}</label>
        {{ form.nacimiento }}
    </div>
    <div class="form-group col-md-4">
        <label for="" class="form-label">{{ form.NIT.label }}</label>
        {{ form.NIT }}
    </div>
    <div class="form-group col-md-4">
                    <label for="exampleFormControlFile1">{{ form.tel.label }}</label>
                    {{ form.tel }}
                </div>
{% endblock %}
