.table td, .table th {
	vertical-align: middle;
}


.top10{
	border-left: 2px solid #A4B0AE;
}
.input-group-text{
	border-radius: 0;
	border-top-left-radius: .35rem;
	border-bottom-left-radius: .35rem;
}
.input-group>.money{
	text-align: right;
}
.avatar-control{
	display: block;
    width: 100%;
	background: red;
}
input[type=button]{
	border-radius: .25rem;
	border: none;
	box-shadow: 2px 2px 2px #5a5c69;
}
#enlace_logout, #enlace_logout>i{
	font-weight: bold;
	color: #78261f !important;
	font-size: 15px;
}
#add_new_prod_in_pedido{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
textarea {
  resize: none;
}