{% extends 'core/bases/list_base.html' %}

{% load static %}
{% block title %}Listado Clientes{% endblock %}

{% block card_titulo %}
<i class="fas fa-clipboard-list mr-1"></i>
    {{ titulo }}
{% endblock %}
{% block btn_add %}
    <a class="btn btn-primary btn-icon-split ml-auto" href="{{ addPedido }}">
        <span class="icon text-white">
            <i class="fas fa-box"></i>
        </span>
        <span class="text">
            Registrar Nuevo Pedido
        </span>
    </a>
{% endblock %}
{% block tabla %}
<table id="listadoPedidos" class="table" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Referencia</th>
        <th>Cantidad de Productos</th>
        <th>Total Consultora</th>
        <th>Total Catalogo</th>
        <th>Acciones</th>
    </tr>
    </thead>
</table>
{% endblock %}

{% block mis_scripts %}
    <script src="{% static 'inventario/js/pedidosList.js' %}"></script>
    <script>
        var listClient = "{% url 'productosList' %}";

        // funcion para obtener url por dato y tipo de parametro
        function obtenerUrl(dato, accion){
            {% for object in object_list %}
                var url;
                var objeto = '{{object}}';
                var id = '{{object.id}}';
                if (id == dato) {
                    if (accion == 'eliminar'){
                        url = '{% url 'deletePedido' object.id %}';
                    }else if (accion == 'editar'){
                        url = '{% url 'updateProducto' object.id %}';
                    }else if (accion == 'ver'){
                        url = '{% url 'detailProducto' object.id %}';
                    }
                    return url;
                }
            {% endfor %}
        }
    </script>
{% endblock %}