{% extends 'core/bases/list_base.html' %}

{% load static %}
{% block title %}Listado Clientes{% endblock %}

{% block card_titulo %}
<i class="fas fa-clipboard-list mr-1"></i>
    {{ titulo }}
{% endblock %}
{% block btn_add %}
    <a class="btn btn-primary btn-icon-split ml-auto" href="{{ addPedido }}">
        <span class="icon text-white">
            <i class="fas fa-box"></i>
        </span>
        <span class="text">
            Registrar Nuevo Pedido
        </span>
    </a>
{% endblock %}
{% block tabla %}
<table id="listadoPedidos" class="table" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Referencia</th>
        <th>Cantidad de Productos</th>
        <th>Total Consultora</th>
        <th>Total Catalogo</th>
        <th>Acciones</th>
    </tr>
    </thead>
</table>
{% endblock %}

{% block mis_scripts %}
    <script src="{% static 'inventario/js/pedidosList.js' %}"></script>
    <script>
        var listClient = "{% url 'productosList' %}";

        // funcion para obtener url por dato y tipo de parametro
        function obtenerUrl(dato, accion){
            {% for object in object_list %}
                var url;
                var objeto = '{{object}}';
                var id = '{{object.id}}';
                if (id == dato) {
                    if (accion == 'eliminar'){
                        url = '{% url 'deletePedido' object.id %}';
                    }else if (accion == 'editar'){
                        url = '{% url 'updateProducto' object.id %}';
                    }else if (accion == 'ver'){
                        url = '{% url 'detailProducto' object.id %}';
                    }
                    return url;
                }
            {% endfor %}
        }
    </script>
{% endblock %}

{% block modal %}
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="card border-left-dark shadow h-100">
                <div class="modal-header d-inline-block m-0 font-weight-bold text-gray-800 text-uppercase"
                ">
                <svg width="2rem" height="2rem" aria-hidden="true" focusable="false" data-prefix="fad"
                     data-icon="box-full" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 640 512"
                     class="svg-inline--fa fa-box-full fa-w-20 fa-2x __web-inspector-hide-shortcut__">
                    <g class="fa-group">
                        <path fill="currentColor"
                              d="M439 382.1L576 343v82a32.07 32.07 0 0 1-24.2 31l-216.4 54.1a65 65 0 0 1-31 0L88.24 456A31.9 31.9 0 0 1 64 425v-82l137.1 39.2c28.6 8.2 48.3-10.9 54.7-21.6L320 254l64.3 106.6c6.54 10.8 26.24 29.7 54.7 21.5z"
                              class="fa-secondary"></path>
                        <path fill="currentColor"
                              d="M194.24 143.7A63.28 63.28 0 0 1 192 128a64 64 0 1 1 128 0 62.84 62.84 0 0 1-8.2 30.7l8.2 1L475.34 140 511 41.7a16 16 0 0 0-9.6-20.5L445.94 1a16 16 0 0 0-20.5 9.6L383.74 125C382 55.7 325.74 0 256 0a128 128 0 0 0-128 128c0 2.5.6 4.9.7 7.4zm444.1 128.1L586.84 169a16.33 16.33 0 0 0-16.7-8.9L320 192l91.7 152.1a16.44 16.44 0 0 0 18.5 7.3l197.9-56.5a16.47 16.47 0 0 0 10.24-23.1zM53.24 169L1.74 271.8a16.3 16.3 0 0 0 10.1 23l197.9 56.5a16.44 16.44 0 0 0 18.5-7.3L320 192 69.84 160.1a16.34 16.34 0 0 0-16.6 8.9z"
                              class="fa-primary"></path>
                    </g>
                </svg>
                Productos del Pedido: <b id="fecha"></b>
                <!-- Boton Cerrar modal -->
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fas fa-window-close text-danger"></i>
                </button>

            </div>

            <div class="modal-body py-0">
                <div class="card-body py-0">
                    <table id="tblDetalle" class="table" width="100%" cellspacing="0">
                        <thead>
                        <tr align="center">
                            <th>Producto</th>
                            <th width="14%">Precio Consultora</th>
                            <th width="14%">Precio Catalogo</th>
                            <th width="15%">Cantidad</th>
                            <th width="15%">Subtotal</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}