{% load static %}
{% load i18n %}
<ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Logo -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="{% static 'core/img/lips.png' %}" width="50" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">GIV <sup>MK</sup></div>
    </a>

    <!-- Divisor -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divisor -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li {% if request.path == List or AddClient or UpdateClient %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse1"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-id-card"></i>
            <span>{% trans 'Clients' %}</span>
        </a>
        <div id="collapse1" class="collapse" aria-labelledby="headingTwo"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Acciones de Clientes:</h6>
                <a class="collapse-item {% if request.path == ClientList %} active {% endif %} "
                   href="{% url 'customersList' %}">
                    <i class="fas fa-list-alt mr-1"></i>
                    {% trans 'Clients List' %}
                </a>
                <a class="collapse-item {% if request.path == AddClient or UpdateClient %} active {% endif %} "
                   href="{% url 'addClient' %}">
                    <i class="fas fa-user-plus mr-1"></i>
                    {% trans 'Add Client' %}
                </a>

            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2"
           aria-expanded="true" aria-controls="collapse2">
            <svg width="1rem" height="1rem" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="inventory" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-inventory fa-w-20 fa-7x"><path fill="currentColor" d="M624 0h-32c-8.8 0-16 7.2-16 16v144H64V16c0-8.8-7.2-16-16-16H16C7.2 0 0 7.2 0 16v496h64v-32h512v32h64V16c0-8.8-7.2-16-16-16zm-48 416H64V224h512v192zM368 128h96c8.8 0 16-7.2 16-16V16c0-8.8-7.2-16-16-16h-96c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16zM112 384h96c8.8 0 16-7.2 16-16v-96c0-8.8-7.2-16-16-16h-96c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16zm160 0h96c8.8 0 16-7.2 16-16v-96c0-8.8-7.2-16-16-16h-96c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16z" class=""></path></svg>
            <span>Inventario</span>
        </a>
        <div id="collapse2" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Acciones de Inentario:</h6>
                <a class="collapse-item" href="utilities-color.html">
                    <i class="bi bi-archive-fill mr-2"></i>
                    Listado de Pedidos
                </a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

     <!-- Productos -->
    <li class="nav-item {% if request.path == productosList %} active {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="bi bi-gem"></i>
            <span>Productos</span>
        </a>
        <div id="collapse3" class="collapse" aria-labelledby="headingTwo"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Acciones de Productos:</h6>
                <a class="collapse-item {% if request.path == productosList %} active {% endif %} "
                   href="{% url 'productosList' %}">
                    <i class="fas fa-list-alt mr-1"></i>
                    Listado de Productos
                </a>

            </div>
        </div>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>