{% extends 'core/bases/form_base.html' %}
{% load static %}

{% block campos_form %}
    <div class="form-group col-md-6">
        <label for="id_nombre" class="form-label">{{ form.nombre.label }}:</label>
        {{ form.nombre }}
    </div>
    <div class="col-12 col-md-6"></div>
    <div class="form-group col-md-6">
        <label for="id_precio_consultora" class="form-label">{{ form.precio_consultora.label }}:</label>
        {{ form.precio_consultora }}
    </div>
    <div class="form-group col-md-6">
        <label for="id_precio_catalogo" class="form-label">{{ form.precio_catalogo.label }}:</label>
        {{ form.precio_catalogo }}
    </div>
    <div class="form-group col-12">
        <label for="id_descripcion" class="form-label">{{ form.descripcion.label }}:</label>
        {{ form.descripcion }}
    </div>
{% endblock %}